<!-- Navigation bar -->
<div class="navbar-fixed">
	<nav class="black">
		<div class="nav-wrapper">
			<div class="container">
				<a href="#" class="brand-logo red-text">TED<sup>2</sup></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						Search
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>

<div class="container">
	<div class="row">
		<div class="col s12">
			<div class="card black ted-card" id="sign-in">
				<div class="card-content white-text">
					<div id="signUp">
						<span class="card-title">TED Talks</span>
						<ul>
							{{!-- {{#each talk}} --}}
								<li>
									{{main_speaker}}, {{url}}
								</li>
							{{!-- {{/each}} --}}
						</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>