.pointer {
	cursor: pointer;
}

.brand-logo {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bolder;
}

.ted-card {
    border-radius: 25px;
}

input[type="search"] {
	height: 64px !important; /* or height of nav */
	}